@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

.upper-container {
  background-color: #1facf893;
  width: 100%;
  min-height: 60px;
  height: auto;
  margin: 0;
  border-bottom: 2px solid mediumblue;
}

body {
  margin: 0;
}

.hms {
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
  color: white;
  font-size: 36px;
  font-family: 'Carter One', cursive;
}

.links {
  margin-top: 12px;
  margin-right: 9px;
  float: right;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.link-admin, .link-patient, .link-doctor {
  color: red;
  font-size: 25px;
  font-family: 'Carter One', cursive;
  font-weight: 1200%;
  padding: 5px;
}

.link-emergency{
  color: red;
  font-size: 25px;
  font-family: 'Carter One', cursive;
  font-weight: 1200%;
  padding: 5px;
}

.link-admin:hover,.link-patient:hover, .link-doctor:hover{
  color:mediumblue;
}

.middle-container {
  margin-top: 18px;
  text-align: center;
  padding: 20px;
  border-spacing: 64px;
}

.middle-container td{
  width:300px;
  background-color: #1facf88c;
  padding: 20px;
  border: 1.5px solid mediumblue;
}

a {
  text-decoration: none;
}

.img-doctor, .img-patient, .img-mi{
  margin-top: 20px;
  width: 190px;
  height: 200px;
}

h3 {
  font-size: 20px;
  font-family: 'Carter One', cursive;
  color: mediumblue;
  margin-top: 20px;
}

.btn {
  background: rgba(0, 0, 205, 0.719); 
  margin-top: 20px;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  font-family: 'Carter One', cursive;
}

.btn:hover{
  background: white;
  color: mediumblue;
}

.adminlog{
  margin-top: 20px;
  width: 500px;
  height: 500px;
  margin-left: 400px;
  text-align: center;
  border: 1px solid mediumblue;
  background-color: #1facf88c;
}

.adminlog p{
  color: rgba(0, 0, 205, 0.733);
  font-size: 25px;
  font-family: 'Carter One', cursive;
  margin-top: 15px;
  margin-bottom: 15px;
}

.admininform{
  background-color: none;
}

.admininform label{
  font-family: 'Carter One', cursive;
  color: mediumblue;
  font-size: 18px;
  padding-right: 4px;
}

.field input[type="password"], .field input[type="text"]{
  font-family: 'Carter One', cursive;
  border: 1px solid mediumblue;
  width: 200px;
}

.subbtn{
  background: rgba(0, 0, 205, 0.719); 
  width: 80px;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  font-family: 'Carter One', cursive;
}

.subbtn:hover{
  background:white;
  color:mediumblue;
  border: 1px solid mediumblue;
}

.space{
  margin-top: 16px;
}
